#{extends './userTemplate.html' /}
#{set subtab:'dashboard'/}

<h2>Cell Phones</h2>

	<table class="table">
		<thead>
		    <tr>
	            <th>Cell Phone</th> 
	            <th>Something</th>
		    </tr>
		</thead>
		<tbody>
		    #{list phones, as:'phone'}
		        <tr>
		            <td>
		            	<a href="@{MyStuff.cell(phone.phoneNumber)}"><span style="color: gray;">${phone.phoneNumber}</span></a>
		            </td>
		            <td>
		            	Something else
		            </td>
		        </tr>
		    #{/list}
		</tbody>
	</table>


