#{extends './userTemplate.html' /}
#{set subtab:'dashboard'/}
<div class="container">
<h2>Cell Phones</h2>
</div>


	<table class="table">
		<thead>
		    <tr>
	            <th>Cell Phone</th> 
	            <th>Something</th>
	            <th>Last Timestamp received</th>
		    </tr>
		</thead>
		<tbody>
		    #{list phones, as:'phone'}
		        <tr>
		          <td>
					<a href="@{MyStuff.rename(phone.phoneNumber)}">[Rename]</a>
		            #{if phone.name == null}
       					<a href="@{MyStuff.cell(phone.phoneNumber)}"><span style="color: gray;">${phone.phoneNumber}</span></a>
      				#{/if}
      				#{else}
        				<a href="@{MyStuff.cell(phone.phoneNumber)}"><span style="color: gray;">${phone.name}</span></a>
      				#{/else}
		          </td>
		          <td>
		            	Something else
		          </td>
		          <td>
						${phone.heartBeat}
		          </td>
		        </tr>
		    #{/list}
		</tbody>
	</table>




