#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'setup' /}
<div class="container">
<h2>The Sniffy App Vision</h2>

By registering and supporting us, we will be adding more and more features. For $7 dollars per month, you will be getting access to text messages and additional features as we add them.

<br/><br/>
<br>
<br>
<div align="center">
 <form action="${paypalUrl}" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick-subscriptions">
	<input type="hidden" name="business" value="${businessId}">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="sniffyapp">
	<input type="hidden" name="item_number" value="${number}">
	<input type="hidden" name="a3" value="7.00">
	<input type="hidden" name="p3" value="1">
	<input type="hidden" name="t3" value="M">
	<input type="hidden" name="currency_code" value="USD">
	<input type='hidden' name='return' value='${returnUrl}'>
	<input type="hidden" name="notify_url" value="http://sniffyapp.com/notifyurl">
	<input type="hidden" name="cancel_return"  value="${cancelUrl}" />
	<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
</div>