#{extends 'main.html' /}

<div class="lt">
	
	#{form @MyStuff.setUser(), class:'form-setup form-wrapper form-narrow'}
	<b> <span class="title">Change the name of ${number}</span>
	<table> </b>
		<tr>
			<td>
				<input type="hidden" name="phone" value="${number}">
			</td>
		</tr>
	    <tr>
	    	<td> 
	        #{text objectId:'name',label:'Name:',  length:50, type:'text'/}
	       </td>
	    </tr>
    </table>
    <span class="btn_register">
		<input type="submit" value="Update" class="btn">
	</span>    
    #{/form}
</div> 



