#{extends './userTemplate.html' /}
#{set subtab:'settings'/}
 <div id="content">
  <div class="container"> 
    <!-- Account Settings Form -->
	#{form @MyStuff.Accountsettings(), class:'form-horizontal form-login form-wrapper form-mdeium'}
	<h2 class="title-divider">Account Settings</h2>
	<br/>
	<br/>
        #{text objectId:'password',label:'Existing Password:', length:50, type:'password' /} 
        #{text objectId:'newpassword',label:'New Password:', length:50, type:'password'/}
	    #{text objectId:'verifyPassword',label:'Confirm New Password:',type:'password'/}
		<br/>
		<br/>
		 <span class="btn_register">
			<input type="submit" value="Update" class="btn">
		</span>
    #{/form}
</div>