#{extends './userTemplate.html' /}
#{set subtab:'cell'/}
	#{if period.phone.name == null}
		<h2>Cell Phone ${period.phone.phoneNumber}</h2>
	#{/if}
	#{else}
		<h2>Cell Phone of ${period.phone.name}</h2>
	#{/else}
	<table class="table">
		<thead>
		    <tr>
	            <th>Time of Message</th>
	            <th>Direction</th>
	            <th>Remote Caller Id</th>
	            <th>Message Size</th>
	            <th>Message</th>
		    </tr>
		</thead>
		<tbody>
		    #{list period.messages, as:'msg'}
		        <tr>
		        	<td>${msg.timeString}</td>
		            <td>${msg.direction}</td>
		            <td>${msg.remoteNumber}</td>
		            <td>${msg.size}</td>
		            #{if msg.canDisplay}
			            <td>${msg.textMessage}</td>
		            #{/if}
		            #{else}
			            <td> <a href="@{MyStuff.completeRegister(period.phone.phoneNumber)}">(You have not 100% completed registration) Click here to complete</a> </td>
		            #{/else}
		        </tr>
		    #{/list}
		</tbody>
	</table>


