#{extends 'main.html' /}
#{set tab:'dashboard'/}
#{set title:'SniffYourKid'/}
#{set templateName:'userTemplate'/}
		
<div class="sidebar lt">
	<div class="t"></div>
	<div class="m">
		<ul>
                        
			<div>
				<a href="@{MyStuff.cellPhones()}"><strong>Phones</strong></a>
		    </div>	
						<a href="@{MyStuff.settings()}"><strong>Accout Settings</strong></a>
			
		</ul>

		<script type="text/javascript" language="JavaScript">
   		    function setTabClass(id, className) {
   		        var obj = document.getElementById(id);
      			     if (obj != null) {
       		        obj.className = className;
       		    }
			}
       		setTabClass("subtab_" + "#{get 'subtab' /}", "cutter");
   		</script>
	</div>
</div>

<div class="content rt">
	#{doLayout /}
</div>
