#{extends 'main.html' /}
#{set tab:'dashboard'/}
#{set title:'SniffYourKid'/}
#{set templateName:'userTemplate'/}
		
<div class="sidebar lt">
	<div class="t"></div>
	<div class="m">
		<ul>
                        <a href="@{MyStuff.accountsettings()}"><strong>Account Settings</strong></a>
			<li class="subtab" id="subtab_cell"><span>Phones</span></li>

		</ul>

		<script type="text/javascript" language="JavaScript">
   		    function setTabClass(id, className) {
   		        var obj = document.getElementById(id);
      			     if (obj != null) {
       		        obj.className = className;
       		    }
			}
       		setTabClass("subtab_" + "#{get 'subtab' /}", "cutter");
   		</script>
	</div>
</div>

<div class="content rt">
	#{doLayout /}
</div>
