#{extends 'main.html' /}
#{set title:'HOW SNIFFYAPP WORKS' /}
#{set tab:'hiw' /}

<br>
<br>

<div class="container">

<b>Not sure which phone to install SNIFFYAPP on?</b>
<br>
<br>
You want to install the application on your son or daughters phone. The phone you install the app on will be the phone we grab the text messages from. 
<br>
<br>
<b>What is the easiest and fastest way to install the app and complete registration?</b>
<br>
<br>
The easiest and fastest way to do this is from your son or daughters phone:
<br>
<br>
Step 1. Open up their web browser and go to sniffyapp.com 
<br>
<br>
Step 2. press the dropdown menu and select SETUP PHONE
<br>
<br>
Step 3. Follow the Instruction for installing the app and entering your Secure Key
<br>
<br>
Step 4. Register your free account. All you need is an Email Address and Password. 
<br>
<br>
Step 5. Now that you have completed Registration, you can view all incoming and outgoing text messages from MY DASHBOARD!
<br>
<br>
<b>Having trouble finding the app on your childs phone?</b>
<br>
<br>
We disguised SNIFFYAPP to look like a Digital Clock to prevent your child from uninstalling it. 
<br>
<br>
<ul class="thumbnails">
  <li class="span4">
    <a href="public/img/screenshots/app5.png">
	<img src="public/img/screenshots/digi.png" class="thumbnail">
    </a>
  </li>
</ul>

<b>How can I add an additional phone to my exisiting account?</b>
<br>
<br>
It's easy! Install the app on your additional phone, sign into your existing account, then on the Setup Phone tab enter your Secure Key. You will now see an additional phone on My Dashboard. 
<br>
<br>
<br>
<br>
</div>