#{extends 'main.html' /}
#{set title:'HOW SNIFFYAPP WORKS' /}
#{set tab:'hiw' /}

<br>
<br>

<div class="container">
Step by Step Instructions:

<br>
<br>

1.	Install SniffyApp on your Android smartphone from the GooglePlay store.
<br>
<br>
2.	When you open SniffyApp for the first time we will give you a Secure Key. Please write this key down, you will need it when registering on the website.
<br>
<br>
3.	Register on the SniffyApp site. Here you will be prompted to enter your Secure Key.
<br>
<br>
Helpful Tip: If you have already installed SniffyApp on other devices, remember to use the same username and password so the new device is added to your existing My Dashboard. 
<br>
<br>
4.	When you are finished registering you will be able to view text messages from the My Dashboard page. 


</div>

<br>