#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}	

<div class="hero" id="highlighted">
  <div class="inner"> 
    
	<!--Flexslider Showshow-->
    <section class="flexslider-wrapper container">
      <div class="flexslider" data-slidernav="auto" data-transition="slide"> 
        <!--The Slides-->
        <div class="slides"> 
          
          <!--Slide #1 with caption-->
          <div class="slide row-fluid">
            <div class="span7"><img src="public/img/slides/slide1.png" alt="Slide 1" /></div>
            <div class="span5 caption">
              <h2>Marketing Text Can Go Here</h2>
              <h4>By <a href="http://themelize.me">A Header</a></h4>
              <p>Perfect for your App, Web service or hosting company!</p>
              <a href="#" class="btn btn-large btn-primary">Buy Now</a> </div>
          </div>
          
          <!--Slide #2 straight image 1170px wide x 390px high-->
          <div class="slide row-fluid"> <img src="public/img/slides/slide2.png" alt="Slide 2" /> </div>
          
          <!--Slide #3 & so on below--> 
          
        </div>
      </div>
    </section>
  </div>
</div>


<div id="content">
  <div class="container"> 

  	<!-- Services -->
    <div class="block features">
      <h2 class="title-divider"><span>Core <span class="de-em">Features</span></span> <small>Core features included in all plans.</small></h2>
      <ul class="thumbnails">
        <li class="span3"> <a href="features.htm"><img src="public/img/features/feature-1.png" alt="Feature 1" /></a>
          <h3 class="title"><a href="features.htm">Mobile <span class="de-em">Friendly</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.htm"><img src="public/img/features/feature-2.png" alt="Feature 2" /></a>
          <h3 class="title"><a href="features.htm">24/7 <span class="de-em">Support</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.htm"><img src="public/img/features/feature-3.png" alt="Feature 3" /></a>
          <h3 class="title"><a href="features.htm">Free Upgrade <span class="de-em">Assistance</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
        <li class="span3"> <a href="features.htm"><img src="public/img/features/feature-4.png" alt="Feature 4" /></a>
          <h3 class="title"><a href="features.htm">99.9% <span class="de-em">Uptime</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </li>
      </ul>
</div>
</div>
</div>