#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}

<div class="homecontent">
	<div class="con_box_t clearfix">
		<div class="box_lt lt">
			<div class="title">
				<h3 class="h3_lt">SniffyApp!</h3>
			</div>
			<p>Premonition X is the project management software that not only helps you manage
			your project but also predicts success or failure.  Predictions are changed daily
			based on the new data coming into the system to keep you up to date.  You can also
			change the scope, schedule or speed to evaluate changes and the system gives you
			new predictions. 
			</p>
			<a href="#" Class="btn_green"><span>Signup Now Free</span></a>
			<a href="#" Class="btn_orange"><span>Try It Now!</span></a>
					
			<!-- p>
			<br/>
			<s:link view="/web/affiliates.xhtml">Link for Affiliates(Clickbank only)</s:link>
			</p-->
  </div>
		<div class="box_rt rt">
			<img src="res${version}/images/voide.jpg" alt="" />
		</div>

