#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}

<div class="row">
  <div class="span12">

     <img src="public/res/css/images/fr_pagelogo.png"/>
	 

  </div>
</div>

<br>
<br>

<div class="row">
	<div class="span6">
		<a href="" class="btn btn-large btn-primary margin">Signup Now</a>
		<a href="" class="btn btn-large btn-primary margin">Learn More</a>

	</div>
</div>

 <img src="public/res/images/google_play.gif"/>



<div class="row">
  <div class="span6">
  Text can go here...
  </div>

 

<div class="row">
 
  <div class="span4">...</div>


 
</div>
	
	
	


