#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}

<div class="row">
  <div class="span12">

	Index 1111111
     <img src="public/res/css/images/fr_pagelogo.png"/>
	 

  </div>
</div>

<br>
<br>

<div class="row">
	<div class="span6">
		#{if session.get('username') == null}
			<a href="login" Class="btn btn-large btn-primary margin"><span>Signup Now</span></a>
		#{/if}
		#{else}
			<a href="cellphones" Class="btn btn-large btn-primary margin"><span>My Dashboard</span></a>
		#{/else}
		<a href="hiw" class="btn btn-large btn-primary margin">Learn More</a>
	</div>
	<div class="span3 offset2">
		<img src="public/res/images/google_play.gif"/>
	</div>
</div>






<div class="row">
  <div class="span6">
 
  </div>


 

<div class="row">
 
  <div class="span4">...</div>


 
</div>
	
	
	


