#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}

<div class="row">
  <div class="span6">
  This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj
    This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
      This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
        This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
  This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj
    This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
      This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
        This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
  This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj
    This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
      This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
        This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
  This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj
    This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
      This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
        This is tons of text over and over and over lasdjf lakdjf lad flkj adkjf lsajdf lajfs lkj 
  </div>
  <div class="span3 offset1">
     Some really cool picture goes here
  </div>
</div>

<div class="row">
	<div class="span6">
		<a href="" class="btn btn-large btn-primary margin">Large button</a>
		<a href="" class="btn btn-large btn-primary margin">Large button</a>
	</div>
</div>

