#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'privacy' /}

<pre>
							SniffyApp’s Privacy Policy

This privacy policy describes how we treat personal information when you and/or your child use SniffyApp’s products and services. This 
privacy policy does not apply to the practices of companies that SniffyApp does not own or control, or of persons that SniffyApp does not 
employ or manage. In order to protect your privacy, we have adopted the following principles that describe how we treat privacy and user 
information across all of our products:

	•  Use information to provide our users with valuable products and services.
	
	•  Make the collection of personal information transparent. 
	
	•  Develop products and services that reflect strong privacy practices and standards. 


1.	Information collected during registration: Personal identifying information we collect such as your name, username, password, mobile
	number and email address upon creation or registration of your SniffyApp account is required to authenticate correct contact details. 
	We do not share your personal information with third parties. In the context of a sale or transfer of all or part of our assets to a 
	third party, your personal information may be one of the transferred assets.

2.	Restrictions: 

	You agree:

	•  To inform the person whose activities you are about to record about the service and obtain all the required consents. 

	•  That you will only install the software on a mobile device that you have been given express permission to do so or within your 
	   rights as an owner, parent, or guardian.

	•  That the service will not be used to violate privacy rights of any individual.

	•  That you will not reproduce, re-transmit, or re-present in any form, in whole or in part, any content, programming code, images or 
	   graphics without express permission of SniffyApp, LLC. 

3.	Children’s Privacy: We do not communicate with nor sell products to children. Children under the ages of 13 may not submit personal 
	information to SniffyApp without the consent of their parents. As mentioned, we do not share your or your child’s personal information 
	with any third party. 

4.	Consent: If you do not consent to the collection and use of your personal information as outline in this policy, please do install any 
	SniffyApp application and do not register with SniffyApp services. 

5.	Changes to this Privacy Policy: SniffyApp may at any time, without notice to you and in its sole discretion, amend this policy from 
	time to time. Please review this policy periodically. Your continued use of SniffyApp products and websites after any such amendments 
	signifies your acceptance thereof. 

6.	Law and Harm: We may disclose your information if we believe that it is reasonably necessary to comply with any applicable law, 
	regulation, or legal request; enforce our terms of use or software end-user license; to protect the safety of any person; to address 
	fraud, security or technical issues; or to protect SniffyApp’s rights or property. 

7.	Third party services: SniffyApp uses Google Analytics to help understand use of our services via Google. This collects the information 
	sent by your browser as part of a web page request, including cookies and IP addresses. Google also receives this information and its 
	use of this is governed by its privacy policy. 

8.	Links to other sites: Our website may contain links to other sites. Other sites may also reference or link to our website. We are not 
	responsible for the privacy practices or the content of such other sites. 

9.	Security: We take all confidentiality and security of personal information very seriously and have implements security policies, rules 
	and technical measures to protect and safeguard the personal information under our control from unauthorized access, improper use or 
	disclosure, unauthorized modification, unlawful destruction, or accidental loss. We are very committed to protecting our customer’s 
	privacy. Nevertheless, SniffyApp is not liable for any damages resulting from any security breaches, or unauthorized and/or fraudulent
	use of your user identification information. SniffyApp uses secure servers provided by a third party to transmit and fulfill all online
	credit card transactions in an encrypted format. 

10.	Limitation of Liability: We make no warranty or representations relating to the site or any of its content, software, or services 
	available through the site. The site is provided “As-Is” with all faults. To the fullest extent allowed by the applicable law, SniffyApp
	disclaims all warranties of every nature relating to the site, including without limitation, an implied warranties of merchantability or 
	of fitness for a particular purpose, any warranty against infringement, ownership, any express or statutory warranties, and any 
	warranties regarding accuracy, completeness and quality. SniffyApp makes no warranty that the site is free from infection or viruses or 
	anything else that has contaminating or destructive properties. Reference in this website to any specific commercial products, processes, 
	or services of a third party not affiliated with SniffyApp is for your information and convenience, and does not constitute endorsement 
	or recommendations by SniffyApp or its employees or agents of such third party. 

	SniffyApp shall not be liable to you or any third party affiliated with you for any damages of any kind that arise out of or related to 
	the site. You are responsible for all liability that results with respect to any use of the site by you or any third party affiliated 
	with you. 


						This Privacy Policy is effective as of February 1, 2013. 
 
 </pre>
