#{extends 'main.html' /}






<div id="content">
  <div class="container"> 
    <!-- Sign Up form -->
    #{form @Register.postRegister(), class:'form-horizontal form-login form-wrapper form-medium'}
    
      <h3 class="title-divider"><span>Sign Up</span> <small>Already signed up? <a href="@{auth.Secure.login()}">Login here</a>.</small></h3>
      
      <h5>Account Information</h5>

      #{text type:'text',objectId:'email',label:'Email address', help:'Email to login'/}
      #{text type:'password',objectId:'password',label:'Password'/}
      #{text type:'password',objectId:'verifyPassword',label:'Verify Password'/}

      <label class="checkbox">
        <input type="checkbox" name="checkbox">
       <span> I have read and agreed to the #{license/}.
		</span>
      <span class="btn_register">
			<input type="submit" value="Sign Up" class="btn">
		</span>    
    #{/form}
  </div>
</div>
