#{extends 'main.html' /}
#{set title:'Setup - Parental Control Application' /}
#{set tab:'setup' /}

<br>
<br>
<div class="container">
<b>Install SNIFFYAPP:</b>
<br>
<br>
1.  Go to GooglePlay store on your Android smartphone and search for SNIFFYAPP.
<br>
<br>
2.	Install SNIFFYAPP. 
<br>
<br>
3.	Open SNIFFYAPP on your phone and you will be given a <b>Secure Key</b>. We know this Key can be long, so we added a COPY button to make it easy for you. 
<br>
<br>
4.  Enter or Paste your <b>Secure Key</b> below to finish registration.
<br>
<br>
NEED SOME HELP? Check out our <a href="@{Application.hiw()}" class="menu-item">How It Works</a> page for more information. 
</div>

<br>
	<div id="content">
	<div class="container" id="login:userNameDecorate">
    #{form @Application.postKey(), class:'form-setup form-wrapper form-narrow'}

	 <h5 class="title-divider"><span>Enter Secure Key:</span></h5>
    	<div class="entrykey">
    		<div class="spacer"></div>
    		<span class="input">
        		<input type="text" size="19" name="key" id="key" class="input-block-level" placeholder="Key" value="">
        	</span>
<br>
<br>
	<div class="bt_box">
		<span class="btn_login">
			<input type="submit" value="Submit" class="btn">
		</span>
	</div>

    #{/form}
</div>
    </div>
    </div>