#{extends 'main.html' /}
#{set title:'Setup' /}
#{set tab:'setup' /}

<br>
<br>
<div class="container">

1.	Install <a href="/public/sniffy/sniffy.apk"> SniffyApp </a>on your Android smartphone.
<br>
<br>
2.	When you open SniffyApp for the first time we will give you a Secure Key. Please write this key down, you will need it when registering on the website.
<br>
<br>
3.	Enter your Secure Key below.

</div>

<br>
	<div id="content">
	<div class="container" id="login:userNameDecorate">
    #{form @Application.postKey(), class:'form-setup form-wrapper form-narrow'}

	 <h5 class="title-divider"><span>Enter Generated Key:</span></h5>
    	<div class="entrykey">
    		<div class="spacer"></div>
    		<span class="input">
        		<input type="text" size="19" name="key" id="key" class="input-block-level" placeholder="Key" value="">
        	</span>
<br>
<br>
	<div class="bt_box">
		<span class="btn_login">
			<input type="submit" value="Submit" class="btn">
		</span>
	</div>

    #{/form}
</div>
    </div>
    </div>