<!-- DOCTYPE html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 

<html>
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<meta charset="${_response_encoding}">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>#{get 'title' /}</title>
	<meta name="description" content="#{get 'desc' /}" />
    <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

	#{get 'extraHeader' /}
	<link rel="shortcut icon" href="/res/img/logo.ico" type="image/x-icon" /> 
		<link href="/res/css/public.css" rel="stylesheet" />
	<link href="/res/css/prediction.css" rel="stylesheet" />
*{	<script type="text/javascript" src="/res/js/BubbleTooltips.js"/>}*

	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/res${version}/css/common_ie7.css" /><![endif]-->  

</head>


<body>
<!-- begin wrapper -->
<div class="wrapper">

<!-- begin header -->
<div class="header clearfix">
	<div class="top clearfix">
		<div class="logo lt">
			<h1><a href="#"><img src="/res/images/logo.gif" alt="alvazan.com" /></a></h1>
		</div>
	  *{  <a href="#" class="logout rt">forgot password?</a>}*
	  	#{if session.get('username') == null}
	    <a href="@{auth.Secure.login()}" class="logout rt">Register</a>
	    <a href="@{auth.Secure.login()}" class="logout rt">Log in</a>
	    #{/if}
	    #{else}
	    <a href="@{auth.Secure.logout()}" class="logout rt">Log out ${session.get('username')}</a>
	    #{/else}
	</div>
	<ul id="mun" class="mun clearfix">
		<li class="clearfix" id="page_home">
		    <a href="@{Application.index()}"><strong>Home</strong></a>
		</li>
		#{if session.get('username') != null}
			<li class="clearfix" id="page_how">
			    <a href="@{MyStuff.cellPhones()}"><strong>My Dashboard</strong></a>
			</li>
		#{/if}
		<li class="clearfix" id="page_setup">
			<a href="@{Application.setup()}"><strong>Register</strong></a>
		</li>
		<li class="clearfix" id="page_blog">
			<a href="http://sniffyourkid.com/blog"><strong>Blog</strong></a>
		</li>
	</ul>
</div>
<script type="text/javascript" language="JavaScript">
    		   function setClass(id, className) {
    		        var obj = document.getElementById(id);
       			     if (obj != null) {
        		        obj.className = className;
        		    }
				}
        		setClass("page_" + "#{get 'tab'/}", "cutter");
</script>

<!-- begin container -->
	<div class="container clearfix">

		<div style="font-size: small;font-weight: bold;text-align: center;color: red">
			#{ifErrors}
			   <h1>Oops…</h1>
			   #{errors}
			       <li>${error}</li>
			   #{/errors}
			#{/ifErrors}
				
	        #{if flash.error}
            	${flash.error}
            #{/if}
            #{if flash.success}
            	${flash.success}
            #{/if}
		</div>

		#{doLayout /}

		<br clear="all"/>
	</div>
	
	<!-- end container -->
	
	<!-- begin footer -->
	<div class="footer">
		<p>Please contact support@sniffapp.com for any issues or feedback Version=${version} </p>
		<p>All Rights Reserved. Software and WebSite done by &copy; Sniff Your Kids, Inc 2007 - Present</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wapper -->

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37804968-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

	</body>
</html>