<!DOCTYPE html>
<html>
<head>
	<title>#{get 'title' /}</title>
	<meta name="description" content="#{get 'desc' /}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>AppStrap Bootstrap Theme by Themelize.me</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- @todo: fill with your company info or remove -->
<meta name="description" content="">
<meta name="author" content="Themelize.me">

<!-- Bootstrap CSS -->
<link href="public/css/bootstrap.css" rel="stylesheet">
<link href="public/css/responsive.css" rel="stylesheet">

<!-- Flexslider -->
<link href="public/css/flexslider.css" rel="stylesheet">

<!-- Theme style -->
<link href="public/css/theme-style.css" rel="stylesheet">

<!--Your custom colour override-->
<link href="#" id="colour-scheme" rel="stylesheet">

<!-- Your custom override -->
<link href="public/css/custom-style.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons - @todo: fill with your icons or remove -->
<link rel="shortcut icon" href="img/icons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
<link rel="apple-touch-icon-precomposed" href="img/icons/default.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>


</head>


<body>



<!-- begin wrapper -->
<div class="wrapper">

<!-- begin header -->
<div class="header clearfix">
	<div class="top clearfix">
		<div class="logo lt">
			<h1><a href="http://sniffyapp.com"><img src="/res/images/sniffyapp.gif" alt="sniffyapp.com" /></a></h1>
		</div>
	  *{  <a href="#" class="logout rt">forgot password?</a>}*
	  	#{if session.get('username') == null}
	    <a href="@{Application.register()}" class="logout rt">Register</a>
	    <a href="@{auth.Secure.login()}" class="logout rt">Log in</a>
	    #{/if}
	    #{else}
	    <a href="@{auth.Secure.logout()}" class="logout rt">Log out ${session.get('username')}</a>
	    #{/else}
	</div>
	
	<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
	
	
	<ul id="mun" class="mun clearfix">
		<li class="clearfix" id="page_home">
		    <a href="@{Application.index()}"><strong>Home</strong></a>
		</li>
		#{if session.get('username') != null}
			<li class="clearfix" id="page_dashboard">
			    <a href="@{MyStuff.cellPhones()}"><strong>My Dashboard</strong></a>
			</li>
		#{/if}
		<li class="clearfix" id="page_setup">
			<a href="@{Application.setup()}"><strong>Setup Phone</strong></a>
		</li>
			
                <li class="clearfix" id="page_howit">
			<a href="@{Application.hiw()}"><strong>How It Works</strong></a>

		</li>
		
		<li class="clearfix" id="page_blog">
			<a href="@{Application.about()}"><strong>About</strong></a>
		</li>
		
		<li class="clearfix" id="page_blog">
			<a href="http://sniffyapp.com/blog"><strong>Blog</strong></a>
		</li>

		
	</ul>
</div>
<script type="text/javascript" language="JavaScript">
    		   function setClass(id, className) {
    		        var obj = document.getElementById(id);
       			     if (obj != null) {
        		        obj.className = className;
        		    }
				}
        		setClass("page_" + "#{get 'tab'/}", "cutter");
</script>

<!-- begin container -->
	<div class="container clearfix">

		<div style="font-size: small;font-weight: bold;text-align: center;color: red">
			#{ifErrors}
			   <h1>Oops…</h1>
			   #{errors}
			       <li>${error}</li>
			   #{/errors}
			#{/ifErrors}
				
	        #{if flash.error}
            	${flash.error}
            #{/if}
            #{if flash.success}
            	${flash.success}
            #{/if}
		</div>

		#{doLayout /}

		<br clear="all"/>
	</div>
	
	<!-- end container -->
	<p> <br clear="right" />
	<p> <br clear="right" />
	<!-- begin footer -->
	<div class="footer">
		<p><!-- nothing --></p>
		<p>Please contact support@sniffyapp.com for any issues or feedback Version=${version} </p>
		<p>All Rights Reserved. Software and WebSite done by &copy; SniffyApp, LLC 2007 - Present</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wapper -->

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37804968-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
