* {
  font-size: 12px;
  font-family: Tahoma, Verdana, Arial;
  padding: 0px;
  margin: 0px;
}

body {
  width:100%;
  height: 100%;
}

br {
  clear: left;
}

p {
  line-height: 15px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#header{
  width: 100%;
  height: 150px;
  background: transparent url("../img/top_bg.png") repeat-x;
}

#logobar {
  width: 908px;
  height: 100px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 394px;
  height: 100%;
}

#logo h1, #logo a {
  display: block;
  width: 394px;
  height: 47px;
  background: url(../img/logo.png) no-repeat;
}

#logo h1 {
  margin-left:0px;
  margin-top: 44px;
}

#logo span {
  display: none;
}

#toolbarlet {
  float:left;
  width: 514px;
  height: 100%;
  text-align: right;
}

#toolbarlet ul {
  margin-top: 81px;
  list-style-type:none;
}

#toolbarlet li {
  float: right;
  list-style-type:none;
  color:#353434;
}

#toolbarlet a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-left:2px;
  margin-right: 2px;
  color:#353434;
}

#menu {
  width: 908px;
  height: 32px;
  margin: 0 auto;
}

#menu ul {
  list-style-type:none;
}

#menu li {
  float: left;
  list-style-type:none;
  height: 32px;
}

#menu li.selecteditem, #menu li:hover {
  background: transparent url("../img/menu_hover.png") no-repeat center center;
}

#menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 9px;
  color: #FFFFFF;
  height: 32px;
  width:130px;
}

#trunk {
  width: 100%;
  background:#ff00000;
}

#content {
  width: 868px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:#f2f2f2;
  font-size: 13px;
  padding: 20px;
  color:#2d2d2d;
}

#content h1 {
  font-size: 20px;
  color:#027ec9;
}

#content h2 {
  font-size: 20px;
  text-align: center;
}

#footer {
  width: 100%;
  height: 22px;
  background-color:#dcdee4;
}

#footer h2 {
  width: 908px;
  margin: 4px auto;
  text-align: center;
  color:#4e4e4e;
  font-size: 11px;
  font-weight: normal; 
}

#menu li.splitor, #menu li.splitor:hover {
  width: 3px;
  height: 32px;
  background: transparent url("../img/menu_bar.png") no-repeat;
}

#submenu {
  float: left;
  width: 137px;
}

#submenu ul {
  margin-top: 6px;
  list-style-type:none;
}

#submenu li {
  list-style-type:none;
  background: transparent url("../img/submenu_bg.png") no-repeat;
}

#submenu li:hover, #submenu li.selecteditem {
  background: transparent url("../img/submenu_bg_hover.png") no-repeat;
}

#submenu a {
  display: block;
  text-decoration: none;
  color:#ffffff;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 8px;
  width: 129px;
  height: 26px;
}

#subcontent {
  float: left;
  width: 730px;
}

#subcontenttop {
  width: 730px;
  height: 6px;
  background: transparent url("../img/subcontent_top.png") no-repeat left bottom;
}

#subcontentcenter {
  width: 686px;
  padding: 20px;
  font-size: 13px;
  background-color:#ffffff;
  border-left: 2px solid #99a0a6;
  border-right: 2px solid #99a0a6;
}

#subcontentcenter h2 {
  font-size: 20px;
  text-align: left;
}

#subcontentcenter h3 {
  font-size: 18px;
  font-weight: normal;
}

#subcontentbottom {
  width: 730px;
  height: 6px;
  background: transparent url("../img/subcontent_bottom.png") no-repeat left top;
}

#loginform {
  width: 430px;
  margin: 5px auto;
  padding-left: 120px;
  background: transparent url("../img/login_key.png") no-repeat left top;
}

#registerform {
  width: 430px;
  margin: 5px auto;
  padding-left: 180px;
  background: transparent url("../img/register_save.png") no-repeat left top;
}

#boxfooter {
  color:#666666;
  font-size: 13px;
  text-align: center;
}

#buttonzone {
  padding-left: 70px;
}

div.centerdiv {
  text-align:center;
}

input.bluebtn {
  width: 148px;
  height: 33px;
  border: 0px;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  background: transparent url("../img/blue_btn_bg.png") no-repeat;
}

input.actionbtn {
  width: 135px;
  height: 18px;
  border: 0px;
  background: transparent url("../img/action_btn_bg.png") no-repeat;
}

input.logininput {
  width: 220px;
  font-size: 13px;
  border: 1px solid #98a4a6;
}

input.loginbtn {
  width: 104px;
  height: 33px;
  border: 0px;
  color:#ffffff;
  font-size: 13px;
  background: transparent url("../img/blue_btn_bg1.png") no-repeat;
}

div.infobox {
  background-color:#dce1e4;
  border: 1px solid #98a4a6;
  font-size: 13px;
  width: 362px;
  margin-bottom: 5px;
}

table.tbgrid {
  background-color:#c4c0c9;
}

table.tbgrid td {
}

table.tbgrid thead td {
  height: 22px;
  font-weight: bold;
  text-align: center;
  background: #ffffff url("../img/tb_h_bg.png") repeat-x;
  padding: 0px 6px 0px 6px;
}

table.tbgrid tbody td {
  height: 22px;
  text-align: center;
  background-color: #ffffff;
  padding: 4px 6px 4px 6px;
}

table.tbgrid a {
  color:#3600ff;
}

div.hspacer {
  height: 4px;
}

div.spacer1 {
  height: 16px;
}

hr.splitor {
  color: #98a3a5;
  margin: 10px auto;
}

label.loginlabel {
  width: 120px;
  font-size: 13px;
  display: block;
}
.entry {
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	width: 430px; 
	clear: both;
	/** overflow tells div to expand to surround internal elements**/
	/** breaks the richfaces calendar overflow: auto; **/
}
.entry .label {
	font-size: 13px;text-align: left; width: 200px; float: left; padding: 4px;
}
.entry .input{
 	 font-size: 13px;
 	 text-align: left; float: left; width: 220px;
 	 
}

.hasError {
	font-size: small;
	font-weight: bold;
	text-align: center;
	color: #600;
}

.hasError input {
	 width: 220px;
 	 font-size: 13px;
 	 
}