.help {
	display: inline-block;
	display: -moz-inline-box;
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
	text-indent: -9999px;
	outline-width: 20px;
	width: 20px;
	height: 21px;
	font-size: 12px; /* We tried 0 here, but then image dissappeared*/
	background: url("../images/help.png") no-repeat;
}
