#menu a {
  margin-top: 0px;
  padding-top: 9px;
}

#loginform {
  width: 480px;
}

#registerform {
  width: 550px;
}

#buttonzone {
  padding-left: 70px;
}

#submenu a {
  font-size: 11px;
}

#submenu ul {
  padding-top: 8px;
}

#submenu li {
  padding-bottom: 9px;
}

#subcontent {
  width: 710px;
}

#subcontenttop {
  width: 710px;
  height: 6px;
  background: transparent url("../img/subcontent_top_ie6.png") no-repeat left bottom;
}

#subcontentcenter {
  width: 710px;
}

#subcontentbottom {
  width: 710px;
  height: 6px;
  background: transparent url("../img/subcontent_bottom_ie6.png") no-repeat left top;
}
