@charset "utf-8";

/* BGN global */
body, table, tr, td, th, select, option, input, textarea, button { font-size: 12px; font-family: Arial;}
ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, table, td { font-size: 12px; margin: 0; padding: 0;}
ul, ol { list-style-type: none;}
a img {	border: 0;}
form { margin: 0;	padding: 0;}
textarea { overflow: auto;}
.clear { height: 0;	overflow: hidden; clear: both;}
.clearfix {	zoom: 1;}
.clearfix:after { content: ""; display: block; clear: both; height: 0;}
.none {	display: none;}
.hidden { visibility: hidden;}
.nobr {	white-space: nowrap;}
em { white-space: nowrap;}
table, td {	border-collapse: collapse;	padding: 0;	margin: 0;}
a {	text-decoration: none;	outline: 0;}
a:hover { outline: 0;}
.lt { float: left; display: inline; width: 460px;}
.rt { float: right; display: inline;}
p {	text-indent: 2em;	line-height: 24px;}
.note { color: #ff6600; font-weight: bold; font-size: 12px;}
/* END global */
body {
	padding: 0;
	margin: 0 auto;
}
.wrapper {
	padding: 0;
	margin: 0 auto;
	width: 980px;
}
/* BGN header */
.header .top {
	padding: 7px 0 0 14px;
}
.header .top a.issue {
	position: absolute;
	margin: -12px 0 0 67px;
	display: block;
	width: 64px;
	height: 24px;
	color: #8C2E1C;
	padding-left: 24px;
	background: url(images/issue.gif) no-repeat;
	font-weight: bold;
}
.header .top .logout {
	margin: 17px 30px 0 0;
	padding-left: 22px;
	height: 15px;
	color: #8c8c8c;
	background: url(images/logout.gif) no-repeat;
	font-weight: bold;
}
.header .mun {
	margin-top: 13px;
	width: 976px;
	background: url(images/bg_mun.gif) no-repeat;
	padding-left: 1px;
}
.header .mun li {
	float: left;
	text-align: center;
	display: block;
	background: url(images/mun_line.gif) no-repeat right top;
}
.header .mun li.last {
	background: none;
}
.header .mun li a {
	float: left;
	height: 40px;
	text-align: center;
	margin-right: 2px;
	/*background: url(images/mun_lt.gif) no-repeat left top;*/
}
.header .mun li.last a {
	margin-right: 0;
}
.header .mun li a:hover, .header .mun .cutter a {
	background: url(images/mun_lt1_hover.gif) no-repeat left top;
}
.header .mun li a:hover strong, .header .mun .cutter a strong {
	background: url(images/mun_rt1_hover.gif) no-repeat right top;
}
.header .mun li a strong {
	padding: 10px 45px 0 45px;
	display: block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	height: 30px;
	cursor: pointer;
	/*background: url(images/mun_rt.gif) no-repeat right top;*/
}
/* END header */

.container {
	margin: 23px 7px 0 7px;
}

/* BGN sidebar */
.sidebar {
	width: 200px;
	background: url(images/sider_bottom.gif) no-repeat bottom left;
}
.sidebar .t {
	font-size: 1px;
	height: 5px;
	background: url(images/sider_top.gif) no-repeat;
}
.sidebar .m {
	margin-bottom: 5px;
	padding: 0 10px 20px 15px;
	border: solid 1px #c5c5c5;
	border-top: none;
	border-bottom: none;
}
.sidebar .m li {
	background: url(images/sider_arrow.gif) no-repeat 0 11px;
	padding-left: 11px;
}
.sidebar .m li a {
	display: block;
	font-weight: bold;
	color: #006699;
	padding: 7px 0;
	background: url(images/sider_line.gif) repeat-x left bottom;
}
.sidebar .m li a:hover, .sidebar .m li a.cutter {
	color: #ff6600;
}
/* END sidebar */

/* BGN content */
.content {
	width: 749px;
}
/* END content */

/* BGN footer */
.footer {
	margin-top: 45px;
	margin-bottom: 25px;
	border-top: solid 1px #b2b2b2;
}
.footer p {
	margin: 0px 0;
	text-align: center;
	color: gray;
	font-size: 11px;
	line-height: 22px;
}
/* END footer */